* {
  padding: 0 auto;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #FF9A98;
}

.wrap {
  max-width: 960px;
}

header {
  /*background-color: #FFC0CB;*/
  color:;
  text-align:center;
  /*border: 2px solid black;*/
  /*border-radius: 8px;*/
  margin-top: -5px;
}

h1 {
  padding: 0px;
  font-size: 80px;
  font-family: 'Homemade Apple', cursive;
}

main {
  padding-top: 0px;

}

article {
  background-color: white;
  display: inline-block;
  /*border: 2px solid black;*/
  border-radius: 8px;
  width: 30%;
  padding: 20px;
}

.move {
  margin-right: 4%;
}


h2 {
  text-align: center;
  margin-bottom: 5px;
}

.dress-img {
  display: block;
  width: 100%;
  margin: 0;
}

.bag-img {
  display: block;
  width: 100%;
  margin: 41px 0 100px 0;
}

.bag-color {
 margin-bottom: 18px;
 margin-left: 40px;
}

.shoe-img {
  display: block;
  width: 100%;
  margin: 105.5px 0 105.5px 0;
}

.item {
  display: block;
  background-color: ;
  height: 100px;
  /*border: 2px solid black;*/
  margin-top: 20px;
  margin-bottom: 300px;
  padding: 2px;
}

.size {
  margin-left: 9px;
}

.item-label {
  display: inline-block;
  margin: 16px 0 0 16px;
}

.checkout {
  float: right;
}

.checkout > h2{
  margin-bottom: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 10px 20px;
  margin: 13.5px 0;
  display: inline-block;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 4px;
}

.order {
  background-color: white;
  float: right;
  font-size: 10px;
  padding: 10px 15px 10px 15px;
  margin: 20px 10px 0px ;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

/*SWITCH CSS*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}
